<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
		<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManagerSpring" />
	<bean id="transactionManagerSpring"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- DATABASE CONNECTION -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/finance_tracker" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>


	<!-- USER MANAGER JDBC TEMPLATE -->

	<bean id="UserManager" name="UserManager" class="com.budgetbeat.manager.UserManager" init-method="updateRegisterredUsers"
		scope="singleton">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- ACCOUNT MANAGER JDBC TEMPLATE -->

	<bean id="AccountManager" name="AccountManager"
		class="com.budgetbeat.manager.AccountManager" scope="singleton">
		 <property name="dataSource" ref="dataSource" />
	</bean>
	<!-- TAG MANAGER JDBC TEMPLATE -->

	<bean id="TagManager" name="TagManager" class="com.budgetbeat.manager.TagManager"
		scope="singleton">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- TRANSACTIONS JDBC TEMPLATE -->

	<bean id="TransactionManager" name="TransactionManager"
		class="com.budgetbeat.manager.TransactionManager" scope="singleton">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="DashboardManager" name="DashboardManager"
		class="com.budgetbeat.manager.DashboardManager" scope="singleton">
	</bean>



</beans>
